# Environment
.env
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
*.egg
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
custom_pricing_rules.json
*.log
readme_ip.md
doc/
